/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
div .cta-div {
  margin-top: 100px;
  height: 300px;
}
.header-container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 60px;
  background-color: red;
  text-align: center;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
.header-container #imgDiv {
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  width: 20%;
  height: 100%;
}
.header-container #imgDiv .logo {
  width: auto;
  max-height: 89%;
}
.header-container nav {
  list-style: none;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  width: 40%;
  height: 100%;
}
.header-container nav li {
  list-style: none;
  font-size: 3rem;
  font-weight: bold;
}
.header-container nav li a {
  text-decoration: none;
}
.header-container nav li a:link,
.header-container nav li a:visited,
.header-container nav li a:hover,
.header-container nav li a:active {
  color: white;
}
.bg1 {
  height: 500px;
  background-image: url('/images/coaching-coders-coding-7374.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #002070;
}
.bg2 {
  height: 39.5rem;
  background-image: url('/images/accordion-left.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #002070;
}
.cta-div {
  margin-top: 60px;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  font-size: 3rem;
  line-height: 12rem;
  color: #bb1333;
  font-weight: bold;
}
.cta-div h1,
.cta-div h2 {
  text-shadow: 0.1rem 0.1rem 0.5rem #002070;
}
.cta-div button {
  border-radius: 10rem;
  height: 4rem;
  width: 19rem;
  background: #bb1333;
  color: #fff;
  border: none;
  animation-name: btn;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  -webkit-animation-name: btn;
  -webkit-animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: btn;
  -moz-animation-duration: 6s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  font-weight: bolder;
}
.main-content,
.col {
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  width: 100%;
  background-color: #002070;
}
.row {
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  width: 100%;
}
.row .bg2 {
  width: 40%;
}
.row .acc {
  width: 60%;
  max-height: auto;
}
.accordionItem h2 {
  margin: 0;
  font-size: 4.5rem;
  padding: 0.4rem;
  color: #fff;
  background-color: #bb1333;
  border-bottom: 1px solid #66d;
}
.accordionItem h2:hover {
  cursor: pointer;
}
.accordionItem div {
  margin: 0;
  padding: 1rem 0.4rem;
  background-color: #797c8b;
  border-bottom: 1px solid #1e50ee;
}
.accordionItem.hide h2 {
  color: #bb1333;
  background-color: lightblue;
}
.accordionItem.hide div {
  display: none;
}
.accordionItem p {
  font-size: 3rem;
}
@keyframes btn {
  0% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
  25% {
    opacity: 0.7;
    color: white;
    background-color: #bb1333;
  }
  50% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
  75% {
    opacity: 0.7;
    color: white;
    background-color: #bb1333;
  }
  100% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
}
@-webkit-keyframes btn {
  0% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
  25% {
    opacity: 0.7;
    color: white;
    background-color: #bb1333;
  }
  50% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
  75% {
    opacity: 0.7;
    color: white;
    background-color: #bb1333;
  }
  100% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
}
@-moz-keyframes btn {
  0% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
  25% {
    opacity: 0.7;
    color: white;
    background-color: #bb1333;
  }
  50% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
  75% {
    opacity: 0.7;
    color: white;
    background-color: #bb1333;
  }
  100% {
    opacity: 9.5;
    color: #bb1333;
    background-color: white;
  }
}
