.bg1{
  height: 500px;
  background-image: url('/images/coaching-coders-coding-7374.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #002070;;

}
.bg2{
  height: 39.5rem;
  background-image: url('/images/accordion-left.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  background-color: #002070;;

}