.flex(@a: center; @b: center; @c: center; @d: wrap; @e: row; @f:flex; @g:100%; ){

  justify-content: @a;
  align-content: @b;
  align-items: @c;
  flex-wrap: @d;
  flex-direction: @e;
  display: @f;
  width: @g;
}

.fixed{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.mobile(@rules: {}; @width: 95%;) {
 
  @media only screen and (max-width: @mobile) {
      @rules();
      width: @width;
      margin: 0 auto;
      .flex(@e: column;)

  }
}

.tablet(@rules: {}; @width: 95%;) {
 
  @media only screen and (max-width: @tablet) {
      @rules();
      width: @width;
      margin: 0 auto;
      .flex(@e: column;)

  }
}
