.header-container {
  .fixed();
  height: 60px;
  background-color: red;
  text-align: center;
  .flex(@a: space-between;);
  #imgDiv{
    .flex(@a:center);
    width: 20%;
    height: 100%;
    .logo{
      width: auto;
      max-height: 89%;
      .mobile(@rules: {margin-right:3rem;}; @width:100%;); 
    }
    .mobile(@rules: {margin-right:3rem;}; @width: 34%;);
  }
  nav{
    z-index: 12;
    list-style: none;
    .flex(@a: space-around;);
    width: 60%;
    height: 100%;
    .mobile(@rules: {}; @width: 50%; @b: row; );
    li.navLi{
      list-style: none;
      font-size: 2.5rem;
      font-weight: bold;
      margin-right: 2.5rem;
      .mobile(@rules: {font-size: 2rem; margin: 0rem;}; @width: 15%; @b: row;);
      a{
        text-decoration: none;
        &:link, &:visited, &:hover, &:active{
          color: white;

        }
      }
      
    }
  }
  padding-left: 5rem;

  .mobile(@rules: {margin: 0; padding: 0;}; @width: 100%; @a: space-between; @b: row;)
}