/* Dropdown Button */

.pf{
  padding: 2px;
  background-color: #1d2326;
  border: none;
  font-size: 2.2rem;
  color: white;
   
}

.portfolio{
  color: white;
  padding: 12px;
  .flex(@e: column;)
}

.hidden{
  display: none;
}